interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://account.hotspotshield.com/ipinfo
  response:
    body:
      string: "{\n    \"continent_code\": \"EU\",\n    \"country_code\": \"IT\",\n
        \   \"country_name\": \"Italy\",\n    \"region\": \"25\",\n    \"city\": \"Milan\",\n
        \   \"postal_code\": \"20153\",\n    \"latitude\": 45.505,\n    \"longitude\":
        9.2199,\n    \"dma_code\": null,\n    \"ip\": \"91.193.5.10\",\n    \"isp\":
        \"M247 Ltd\",\n    \"asn\": 9009,\n    \"aso\": \"M247 Ltd\",\n    \"organization\":
        \"M247 Ltd\",\n    \"is_hotspotshield_connected\": false\n}"
    headers:
      AFS:
      - fc3f7383251fd4b5e4e78557f3d04a56
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
